{{> header }}

<div id="main" class="flow-text card grey darken-4">

    <style>
     canvas {
	 position: fixed;
	 top: 0;
	 left: 0;
	 z-index: -999;
     }
     #main {
	 z-index: 1;
	 padding: 50px;
	 margin-left: 90px;
     }
    </style>

    <script src="/index/pixi.min.js"></script>
    <script src="/index/dist/pixi-particles.js"></script>
    <script src="/index/background.js"></script>
     <h2>{{title}}</h2> 

  {{{index}}}
  
</div>

{{> footer }}
