{{> header }}

<div id="main">

    <style>
     canvas {
	 position: fixed;
	 top: 0;
	 left: 0;
	 z-index: -999;
     }
     #main {
	 z-index: 1;
	 padding: 50px;
	 margin-left: 90px;
     }
    </style>

    <!-- <script src="/index/pixi.min.js"></script>
	 <script src="/index/dist/pixi-particles.js"></script> -->
    <!-- <script src="/index/background.js"></script> -->

    <p id="timething"></p>
    
    <script>
     var calltimeIndex = function(message) {
	 $("#timething").text(message + ", and welcome to Argarak's Nexus!");
     }
     
     var d = new Date();
     var hrs = d.getHours();
     
     if(hrs >= 6 && hrs < 12) {
	 calltimeIndex("Good Morning");
     } else if(hrs >= 12 && hrs < 18) {
	 calltimeIndex("Good Afternoon");
     } else if(hrs >= 18 && hrs < 21) {
	 calltimeIndex("Good Evening");
     } else {
	 calltimeIndex("Good Night");
     }     
    </script>
    
</div>

{{> footer }}
