{{> header }}

<div id="main">

    <style>
     #main {
	 width: 80vw !important;
	 display: flex;
	 flex-flow: center;
     }
     .navbar-fixed {
	 height: 0;
     }
    </style>
    
    <div id="repositories" class="grid"></div>

    <script src="/programs/getRepositories.js"></script>
    
</div>

{{> footer }}
