<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{{site-title}}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <!-- Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory-->
    <link href="/css/index.css" rel="stylesheet">
    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/materialize.css" rel="stylesheet">
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
    <script src="/js/js.cookie.js"></script>
    <script src="/js/jquery-2.2.2.min.js"></script>
    <script src="/js/jquery-watch.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/materialize.min.js"></script>
    <!--<script src="/js/search.js"></script>-->
    <script src="/js/masonry.pkgd.min.js"></script>
    <script src="/js/jquery.mobile-1.4.5.min.js"></script>
    <!-- <script src="/js/modernizr.js"></script> -->
    <!-- <script src="/js/dynamicpage.js"></script> -->
    <script src="/js/highlight/highlight.pack.js"></script>
    <link href="/js/highlight/gruvbox-dark.css" rel="stylesheet">
    <script>
     /*
	|@licstart The following is the entire license notice for the
	JavaScript code in this page.|

	Copyright 2016 Jakub Kukiełka

	Licensed under the Apache License, Version 2.0 (the "License");
	you may not use this file except in compliance with the License.
	You may obtain a copy of the License at

	http://www.apache.org/licenses/LICENSE-2.0

	Unless required by applicable law or agreed to in writing, software
	distributed under the License is distributed on an "AS IS" BASIS,
	WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
	See the License for the specific language governing permissions and
	limitations under the License.
	
	|@licend The above is the entire license notice
	for the JavaScript code in this page.|
      */
    </script>
    
</head>

<body>
    <script>hljs.initHighlightingOnLoad();</script>
    <div id="top">
	<header>
	    <ul id="nav-mobile" class="side-nav fixed">
		<li class="nav-li">
		    <a class="no waves-effect waves-light" href="/index.html">
			<svg id="nexus-svg" class="tooltipped" data-position="right" data-delay="50" data-tooltip="Home">
			    <g
				transform="translate(-427.25969,-592.1152)"
				id="layer1">
				<g
				    style="fill:none;stroke:#F4433;6stroke-width:7.84223795;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
				    transform="matrix(0.36757387,0,0,0.36757387,270.7901,408.61183)"
				    id="g4219">
				    <path
					style="fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#F44336;stroke-width:7.84223795;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
					d="m 429.60315,538.58268 0,70.86614 61.37188,35.43307 61.37188,-35.43307 0,-70.86614 -61.37188,-35.43307 z"
					id="path4165" />
				    <path
					style="fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#F44336;stroke-width:7.84223795;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
					d="m 490.97503,503.14961 -61.37188,106.29921 61.37188,35.43307 61.37188,-35.43307 z"
					id="path4167" />
				    <path
					style="fill:none;fill-rule:evenodd;stroke:#F44336;stroke-width:7.84223795;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
					d="m 429.60315,538.58268 61.37188,35.43307 61.37188,-35.43307"
					id="path4169" />
				    <path
					style="fill:none;fill-rule:evenodd;stroke:#F44336;stroke-width:7.84223795;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
					d="m 490.97503,574.01575 0,70.86614"
					id="path4171" />
				</g>
			    </g>
			</svg>
			<span id="home-span">Home</span>
		    </a>
		</li>
		<li class="nav-li">
		    <a href="/about/index.html" class="no waves-effect waves-light">
			<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" class="tooltipped" data-position="right" data-delay="50" data-tooltip="About">
			    <path d="M0 0h48v48H0z" fill="none"/>
			    <path d="M24 4C12.95 4 4 12.95 4 24s8.95 20 20 20 20-8.95 20-20S35.05 4 24 4zm2 30h-4V22h4v12zm0-16h-4v-4h4v4z" fill="#E91E63"/>
			</svg><span>About</span>
		    </a>
		</li>
		<li class="nav-li">
		    <a href="/blog/index.html" class="no waves-effect waves-light">
			<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" class="tooltipped" data-position="right" data-delay="50" data-tooltip="Blog">
			    <path d="M28 34H8v4h20v-4zm12-16H8v4h32v-4zM8 30h32v-4H8v4zm0-20v4h32v-4H8z" fill="#9C27B0"/>
			    <path d="M0 0h48v48H0z" fill="none"/>
			</svg><span>Blog</span>
		    </a>
		</li>
		<li class="nav-li">
		    <a href="/programs/index.html" class="no waves-effect waves-light">
			<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" class="tooltipped" data-position="right" data-delay="50" data-tooltip="Programs">
			    <path fill="none" d="M0 0h48v48H0V0z"/>
			    <path d="M18.8 33.2L9.7 24l9.2-9.2L16 12 4 24l12 12 2.8-2.8zm10.4 0l9.2-9.2-9.2-9.2L32 12l12 12-12 12-2.8-2.8z" fill="#673AB7"/>
			</svg><span>Programs</span>
		    </a>
		</li>
		<li class="nav-li">
		    <a href="/archive/index.html" class="no waves-effect waves-light">
			<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" class="tooltipped" data-position="right" data-delay="50" data-tooltip="Archive">
			    <path d="M41.09 10.45l-2.77-3.36C37.76 6.43 36.93 6 36 6H12c-.93 0-1.76.43-2.31 1.09l-2.77 3.36C6.34 11.15 6 12.03 6 13v25c0 2.21 1.79 4 4 4h28c2.21 0 4-1.79 4-4V13c0-.97-.34-1.85-.91-2.55zM24 35L13 24h7v-4h8v4h7L24 35zM10.25 10l1.63-2h24l1.87 2h-27.5z" fill="#3F51B5"/>
			    <path d="M0 0h48v48H0z" fill="none"/>
			</svg><span>Archive</span>
		    </a>
		</li>
		<li class="nav-li">
		    <a href="/feed.rss" class="no waves-effect waves-light">
			<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" class="tooltipped" data-position="right" data-delay="50" data-tooltip="RSS">
			    <path fill="none" d="M0 0h48v48H0z"/>
			    <circle cx="12.36" cy="35.64" r="4.36" fill="#2196F3"/>
			    <path d="M8 8.89v5.66c14.06 0 25.46 11.4 25.46 25.46h5.66C39.11 22.82 25.18 8.89 8 8.89zM8 20.2v5.66c7.81 0 14.14 6.34 14.14 14.14h5.66c0-10.93-8.87-19.8-19.8-19.8z" fill="#2196F3"/>
			</svg>
			<span>RSS</span>
		    </a>
		</li>
		
	    </ul>
	</header>
	<main>
	    <noscript class="nojs">
	      You have javascript disabled which makes me sad. Please enable it. LibreJS users see <a href="#">here</a>.
	    </noscript>
	    <div class="navbar-fixed">
		<nav id="top-nav">
		    <div id="btn-back">
			<a data-activates="nav-mobile" id="nav-icon" class="button-collapse top-nav waves-effect waves-light hide-on-large-only"><i class="material-icons">menu</i></a>
			<a class="tooltipped" data-position="left" data-delay="50" data-tooltip="Search not yet implemented!">
	      		    <label class="waves-effect waves-light top-nav" id="search-icon" for=""><i class="material-icons search-icon">search</i></label>
			</a>
		    </div>
		</nav>
	    </div>
    </div>
    <div id="blogside">
      <a id="closeSide" href="#"><i class="material-icons">close</i></a>
      {{#recent_posts}}
      <article class="hentry">	
      </article>
      <div class="card grey darken-4 article">
            <div class="card-content white-text">
              <span class="card-title"><a href="{{ permalink }}/index.html">{{{ title }}}</a></span>
              <p>{{{ content }}}</p>
            </div>
            <div class="card-action">
              <!-- <time datetime="{{#iso_date}}{{ published_date }}{{/iso_date}}" pubdate><span> {{#long_date}}{{published_date}}{{/long_date}}</span></time> -->
	      	{{#is_teaser}}
	            <div><a href="{{ permalink }}" class="more">More »</a></div>
	        {{/is_teaser}}
            </div>
      </div>
      {{/recent_posts}}
    </div>
  
