<div id="main-content">
	<article class="hentry"> 
		<span id="title-container"><h2 class="entry-title"><span class="truncate red darken-4"> {{{ title }}}</span></h2>
    <time class="updated" datetime="{{#iso_date}}{{ published_date }}{{/iso_date}}" pubdate><span class="red">{{#long_date}}{{published_date}}{{/long_date}} </span></time></span>

		<div class="entry-content">
			{{{content}}}
		</div>
	</article>
</div>
