<style>
 #nav-mobile {
     background: rgba(0, 0, 0, 0) !important;
 }
</style> 

<div id="main-content">
	<article class="hentry"> 
	    <span id="title-container"><h2 class="entry-title"><b>{{{ title }}}</b></h2>
		<hr>
		<time class="updated" datetime="{{#iso_date}}{{ published_date }}{{/iso_date}}" pubdate><i>{{#long_date}}{{published_date}}{{/long_date}}</i></time></span>
		<hr>
                <div class="entry-content">
			{{{content}}}
		</div>
	</article>
</div>
