{{> header }}

    <div id="main" class="posts flow-text">
    <h1>THIS IS THE INDEX!</h1>
			{{#recent_posts}}
      <article class="hentry"> 
        <h2 class="entry-title"><a href="{{ permalink }}/index.html">{{{ title }}}</a></h2>
				<time class="updated right-float red dateback truncate blacktext" datetime="{{#iso_date}}{{ published_date }}{{/iso_date}}" pubdate><span> {{#long_date}}{{published_date}}{{/long_date}}</span></time>

        <div class="entry-content">
          {{{ content }}}
        </div>
				{{#is_teaser}}
        <div><a link="{{ permalink }}" class="more">More »</a></div>
				{{/is_teaser}}
      </article>
			{{/recent_posts}}

		</div>
    
{{> footer }}
